<!DOCTYPE HTML>
<HTML>
    <head>
        <body>
            <p> You've received a message from <%= "#{ @name }, #{ @email }." %> </p>
            <p> <%= @body %> </p>
        </body>
    </head>
</HTML>